div {
    display: inline-block;
}

.site-sydyrjanie {
    width: 200px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}